# Namespace for package BEST

# importFrom(rjags, jags.model, coda.samples)
importFrom(jagsUI, jags.basic)
importFrom(stats, update)
importFrom(parallel, detectCores)
importFrom(coda, effectiveSize, gelman.diag)

export(BESTmcmc, # BESTmcmcP,
  plotPost, plotAll, plotPostPred, plotAreaInROPE,
  BESTpower, makeData,
  hdi)


S3method("pairs", "BEST")
S3method("plot", "BEST")
S3method("print", "BEST")
S3method("print", "summary.BEST")
S3method("summary", "BEST")
S3method("hdi", "default")
S3method("hdi", "matrix")
S3method("hdi", "density")
S3method("hdi", "data.frame")
S3method("hdi", "mcmc.list")
S3method("hdi", "function")
