# Namespace for package BEST

# importFrom(rjags, jags.model, coda.samples)
importFrom(jagsUI, jags.basic)
#importFrom(stats, update)
importFrom(parallel, detectCores)
importFrom(coda, effectiveSize, gelman.diag)
importFrom(HDInterval, hdi)

import(stats, graphics, utils, grDevices)

export(BESTmcmc,
  plotPost, plotAll, plotPostPred, plotAreaInROPE, postPriorOverlap,
  BESTpower, makeData)


S3method("pairs", "BEST")
S3method("plot", "BEST")
S3method("print", "BEST")
S3method("print", "summary.BEST")
S3method("summary", "BEST")
